# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


desktop.ini
*.sublime-project
*.sublime-workspace


#####
# OS X temporary files that should never be committed
.DS_Store
.Trashes
*.swp
*.lock
*~.nib